<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title)  %> | Bursey Application</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="jumbotron">
            <div class="container-fluid">
                <div class="col-lg-12">
                    <%= image_tag 'g3.jpeg', title: "Bursery" %>
                    <h1><small>Online Bursery App</small></h1>
                    <p><small>This is the most efficient way to receive education funds.
                        Once you sign up with the online bursery allocation system,you are
                        entitled to apply for a bursary.Follow ups can be done so as t ensure
                        our applicants enjoyed the benefits.</small></p>
                </div>
            </div>
        </div>
    </body>
</html>
