<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | Bursery Application</title>
    </head>
    <body>
        <h1>Bursery App</h1>
        <p>
        This is the home page for the bursary application
        </p>
    </body>
</html>
