<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title)  %> | Bursey Application</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Revolutionary Online bursary allocation</h2>
                    <hr>
                    <p>Welcome to the bursery allocation system.This web application is meant to help kids achieve their dreams by supporting them in the most conventional way,financial support.Applicants are required to provide their forms fully filled as required</p>
                </div>
            </div><br>
            <div class="row">
                <div id="in">
                    <div class="col-lg-12">
                        <hr>
                        <h2 class="intro-text text-center">Revolutionary Online bursary allocation</h2>
                        <hr>
                        <p>Welcome to the bursery allocation system.This web application is meant to help kids achieve their dreams by supporting them in the most conventional way,financial support.Applicants are required to provide their forms fully filled as required</p>
                    </div>
                </div>
            </div>
        </div>
          </body>
</html>
